<div class="container">
  <button class="btn btn-outline-primary bottom-margin">Add note</button>
  <div class="row">
    <div class="col-sm" *ngFor="let note of notes">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">{{note.title}}</h4>
          <h6 class="card-subtitle mb-2 text-muted">Book has a rating of {{note.rating}}</h6>
          <p class="card-text">{{note.details}}</p>
          <a [routerLink]="['/details', note.id]" class="btn btn-primary">Note details</a>
          <div class="card-body">
            <a [routerLink]="['/delete', note.id]" class="card-link">Delete</a>
            <a [routerLink]="['/edit', note.id]" class="card-link">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
